name: Deploy JupiterLyte Page

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Upgrade pip
        run: |
          pip install --upgrade pip

      - name: Checkout xDSL
        run: |
          XDSL_COMMIT=$(grep xdsl requirements.txt|grep -o -P '(?<=@).*(?=#)')
          git clone https://github.com/xdslproject/xdsl.git
          cd xdsl
          git checkout $XDSL_COMMIT

      - name: Checkout RiscEmu
        run: |
          RISCEMU_COMMIT=$(grep riscemu requirements.txt|grep -o -P '(?<=@).*(?=#)')
          git clone https://github.com/antonlydike/riscemu.git
          cd riscemu
          git checkout $RISCEMU_COMMIT

      - name: Install dependencies
        run: |
          python -m pip install jupyterlite[all]==0.1.0b17 libarchive-c build pyodide-build

      - name: Build xDSL source distribution
        run: |
          cd xdsl
          python setup.py sdist

      - name: Build RiscEmu source distribution
        run: |
          cd riscemu
          python setup.py sdist

      # Pyodide is cached, so cloned only if not present in the cache, otherwise
      # just checked out to whatever desired version and partially rebuilt.

      - name: Restore cached Pyodide tree
        id: cache-pyodide
        uses: actions/cache@v3
        with:
          path: pyodide
          key: pyodide

      - name: Clone pyodide if not cached
        if: steps.cache-pyodide.outputs.cache-hit != 'true'
        run: git clone https://github.com/pyodide/pyodide.git

      # Clean the xDSL and FrozenList package folders, generate their skeletons
      # and do the necessary updates before building.
      - name: Build custom Pyodide distribution
        run: |

          cd pyodide
          git fetch --all
          git checkout 0.22.0a3
          python -m pip install -r requirements.txt
          sudo apt update && sudo apt install f2c

          rm -rf packages/xdsl packages/frozenlist packages/riscemu

          pyodide skeleton pypi xdsl
          pyodide skeleton pypi frozenlist
          pyodide skeleton pypi riscemu

          ../.github/workflows/update_xdsl_pyodide_build.py packages/xdsl/meta.yaml ../xdsl frozenlist
          ../.github/workflows/update_xdsl_pyodide_build.py packages/riscemu/meta.yaml ../riscemu

          PYODIDE_PACKAGES="frozenlist,coverage,xdsl,riscemu, numpy" make

      - name: Build the JupyterLite site
        run: |
          mkdir content
          cp notebooks/* content -r

          rm -rf pyodide/pyodide
          mkdir pyodide/pyodide
          mv pyodide/dist pyodide/pyodide/pyodide

          python -m jupyter lite build --contents content --pyodide pyodide/pyodide

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./_output

  deploy:
    needs: build
    if: github.ref == 'refs/heads/main'
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
